@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&family=Zen+Old+Mincho:wght@400;500;600;700;900&family=Yuji+Syuku&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #FDFBF7;
    /* Shinto White */
    color: #1a1a1a;
    font-feature-settings: "palt";
}